:root 
{
    --background-color: rgb(255, 231, 231);
    --light-color: #ffa2a2;
    --dark-color: #6e0000;
    
    
    

}
body{
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color);
    
}

main{

  position: relative;
  max-width:1080px;
  margin:0 auto;
  padding: 20px;
}
#head
{
    display: flex;
    justify-content: space-between;
    background-color: pink;
    font-family: "Poppins", sans-serif;
    font-weight: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-style: normal;
    font-size: 20px;
    border:1px solid var(--dark-color);

  
}
.sub-head{
  margin-left: auto;
  order: 2;

}

.post{
    background-color: rgb(254, 217, 223);

    
    padding-left: 15px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    font-style: normal;
    
    border:1px solid var(--dark-color);
    margin-bottom: 1em;
    padding: .5em 1em;
  
  
  p{
    font-style: italic;
  }
  
}

#post1{
  border: 1px solid var(--dark-color);
  background-color: rgb(255, 144, 144);
  margin-bottom: 1em;
  padding: .5em 1em;

}
.post, #post{
  .img-container{
    aspect-ratio: 3/2;
  }

  img{
    width:100;
    height: auto;
    display: block;

  }

  a{
    color: var(--link-color);
    text-decoration: none;

  }

  a:hover{
    text-decoration: underline;
  }

}

.special-headline{
  font-weight: 900;
  color: indianred;
}

.highlight{
  background-color: var(--dark-color);
  color: var(--light-color);
  h2{
    color: var(--light-color);
  }
}

/* Lab 2 Styles */

.logo-holder{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--background-color);
  font-weight: bold;
}

#logo{
  height: 3em;
  width: auto;
  float: left;
  margin-right: .5em;

}

.sub-head{
  display: flex;
  align-items: center; /* align items aligns things horizontally*/


}

/* Lab 3 Styles */

.hide-me{
  display: none;
}

.block-div, .block{
  display: block;
  color: rgb(255, 60, 60);
  border: 1px solid var(--dark-color);
  padding: 1em;

}

.block {
  margin: 1em 0;
}

.inline{
  display: inline;
}

.inline-block {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.2em 0.8em;
  color: var(--dark-color) !important;
  background-color: coral;
  transform: rotate(-8deg);
  font-weight: 800;
  font-variation-settings:
    "wdth" 75;
}

.static {
  position: static;
  border: 1px solid var(--dark-color);
}

.fixed {
  z-index: 999;
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 200px;
  padding: 1em;
  background-color: coral;
  border: 1px solid var(--dark-color);
}

.relative{
  position: relative;
  left: 1em;
  right: 1em;
  width: calc(100% - 1em);
  border: 1px solid var(--dark-color);
}

.sticky-demo-holder{
  overflow: scroll;
  position: relative;
  border: 1px soild var(--dark-color);
  width: 100%;
  margin-bottom: 1em;
  height: 200px;
  p{
    margin: 1em;
  }

}

.sticky-bit{
  background-color: coral;
  position: sticky;
  top: 0;
  padding: 1em;
}

.absolute-demo-holder{
  position: relative;
  border: 1px solid var(--dark-color);
  width: 100%;
  margin-bottom: 1em;
  aspect-ratio: 4/3;
}

.absolute-bubble{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: pink;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}

.float-demo-holder{
  border: 1px solid var(--background-color);
  padding: 0 1em;
  margin-bottom: 1em;

  .img-right{
    width: 15em;
    height: auto;
    float: right;
    margin: 1em 0 1em 1em;
  }

  .img-left{
    width: 15em;
    height: auto;
    float: left;
    margin: 1em 1em 1em 0;

  }

}



/* Lab 4 Styles */

.grid-parent {
  display: grid;
  /*grid-template-columns: 25% 75%;*/
  grid-template-columns: 1fr 3fr;
  gap: 1em;
  margin-bottom: 1em;
}

.grid-child {
  min-height: 30vh;
  background-color: #d6d6d6;
}

.grid-layout-parent {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr;
  gap: 1em;
  margin-bottom: 1em;
}

.grid-layout-chess {
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 1em;
}

.grid-child-chess {
  aspect-ratio: 1;
  background-color: coral;
  transition: 0.5s;
}

.grid-child-chess:nth-child(-n + 8):nth-child(even),
.grid-child-chess:nth-child(n + 8):nth-child(-n + 16):nth-child(odd),
.grid-child-chess:nth-child(n + 17):nth-child(-n + 24):nth-child(even),
.grid-child-chess:nth-child(n + 25):nth-child(-n + 32):nth-child(odd),
.grid-child-chess:nth-child(n + 33):nth-child(-n + 40):nth-child(even),
.grid-child-chess:nth-child(n + 41):nth-child(-n + 48):nth-child(odd),
.grid-child-chess:nth-child(n + 49):nth-child(-n + 56):nth-child(even),
.grid-child-chess:nth-child(n + 57):nth-child(-n + 64):nth-child(odd) {
    background-color: hsl(16, 100%, 44%)
}

.grid-child-chess:hover {
  background-color: black !important;
}

.grid-assign-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
  margin-bottom: 1em;
}
.grid-assign-child {
  min-height: 1em;
  background-color: #d6d6d6;
}

.grid-assign-special-child {
  grid-row: 2 / 4; /*start at row 2 and go to row 4 */
  grid-column: 2 / 4; /*start at column 2 and go to column 4 */
  background-color: coral;
}

.grid-area-parent {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 1em;
  margin-bottom: 1em;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
    /* notice how it looks like the grid, visually */
}

.grid-area-child {
  min-height: 1em;
  background-color: #d6d6d6;
}
.area-header {
  grid-area: header;
}

.area-sidebar {
  grid-area: sidebar;
}

.area-main {
  grid-area: main;
}

.grid-alignment-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center; /* start, center, end, space-between, space-around, space-evenly  */
  justify-items: center; /* stretch, start, center, end */
  align-content: center; /* start, center, end, space-between, space-around, space-evenly  */
  align-items: center; /* stretch, start, center, end */
  gap: 1em;
  margin-bottom: 1em;
  background-color: #006060;
  min-height: 15em;
}

.grid-alignment-child {
  width: 100px;
  min-height: 1em;
  background-color: #d6d6d6;
}

.quick-center-trick {
  height: 60vh;
  background-color: #600060;
  display: grid;
  place-content: center; /*start, center, end (shorthand for justify-content with align-content)*/
}






