:root 
{
    --background-color: rgb(255, 231, 231);
    --light-color: #ffffff;
    --dark-color: #000000;
    
    
    

}
body{
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color);
    
}

main{

  position: relative;
  max-width:1080px;
  margin:0 auto;
  padding: 20px;
}
#head
{
    display: flex;
    justify-content: space-between;
    background-color: pink;
    font-family: "Poppins", sans-serif;
    font-weight: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-style: normal;
    font-size: 20px;
    border:1px solid var(--dark-color);

  
}
.sub-head{
  margin-left: auto;
  order: 2;

}

.post{
    background-color: rgb(254, 217, 223);

    
    padding-left: 15px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    font-style: normal;
    
    border:1px solid var(--dark-color);
    margin-bottom: 1em;
    padding: .5em 1em;
  
  
  p{
    font-style: italic;
  }
  
}

#post1{
  border: 1px solid var(--dark-color);
  background-color: rgb(255, 144, 144);
  margin-bottom: 1em;
  padding: .5em 1em;

}
.post, #post{
  .img-container{
    aspect-ratio: 3/2;
  }

  img{
    width:100;
    height: auto;
    display: block;

  }

  a{
    color: var(--link-color);
    text-decoration: none;

  }

  a:hover{
    text-decoration: underline;
  }

}

.special-headline{
  font-weight: 900;
  color: indianred;
}

.highlight{
  background-color: var(--dark-color);
  color: var(--light-color);
  h2{
    color: var(--light-color);
  }
}

/* Lab 2 Styles */

.logo-holder{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--background-color);
  font-weight: bold;
}

#logo{
  height: 3em;
  width: auto;
  float: left;
  margin-right: .5em;

}

.sub-head{
  display: flex;
  align-items: center; /* align items aligns things horizontally*/


}

/* Lab 3 Styles */

.hide-me{
  display: none;
}

.block-div, .block{
  display: block;
  color: rgb(255, 60, 60);
  border: 1px solid var(--dark-color);
  padding: 1em;

}

.block {
  margin: 1em 0;
}

.inline{
  display: inline;
}

.inline-block {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.2em 0.8em;
  color: var(--dark-color) !important;
  background-color: coral;
  transform: rotate(-8deg);
  font-weight: 800;
  font-variation-settings:
    "wdth" 75;
}






